.hero
  position: relative
  background: $dark url('../img/hero-img.jpg') no-repeat center / cover
  height: 100vh
  color: $light
  &__instagram 
    position: absolute
    height: 100%
    max-width: 80px
    left: 0
    top: 0
.instagram
  $dark
  display: flex
  justify-content: center
  align-items: center
  &__link
    text-decoration: none
    text-transform: uppercase
    color: $primary
    transform: rotate(-90deg)   
.title
  margin: 0    
